\#*\#
.\#*
*~
auto-save-list
elpa
ido.last
backups
places
eshell
projectile-bookmarks.eld
projects
recentf
/var/pcache
url
smex-items
custom.el
history
transient
tramp
tree-sitter/
.lsp-session*
.cache/
